.data__container {
    display: flex;
    width: 100%;
}

.data__data {
    margin-top: 1%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    display: flex;
    padding: 2%;
    text-align: center;
}