.footer__container {
    margin-top: 8%;
    color: aliceblue;
    font-size: 14px;
    padding: 1%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer__button {
    margin: 0 8px;
    display: flex;
}

.footer__button > img {
    height: 15px;
}
