/* css general para los titulos */

.games__container {
    margin-top: 6%;
    width: 100%;
    overflow: hidden;
}

.games__header {
    text-align: center;
}

.games__header > img {
    width: 22%;
}

/* Cada uno de los Juegos */

.games__list {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.games__list_container {
    margin-top: -20px;
}

.games__list_name {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 7vh;
    margin-top: 2%;
    text-align: center;
}

.games__list_game {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    padding: 3%;
}

.games__list_game > img {
    width: 100%;
}