/* css general para los titulos */

.games__container {
    margin-top: 6%;
    width: 100%;
    overflow: hidden;
}

.games__header {
    text-align: center;
}

.games__header > img {
    width: 22%;
}

/* Cada uno de los Juegos */

.games__list {
    text-align: left;
    justify-content: center;
    align-items: center;
}

.games__list_container {
    margin-top: -20px;
    padding: 1%;
}

.games__list_name {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 7vh;
    margin-top: 2%;
    text-align: center;
}

.games__list_game {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5vh;
    padding: 3%;
}

.img__left {
    width: 50%;
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
}

.img__right {
    width: 50%;
    float: right;
    margin-left: 2%;
    margin-bottom: 1%;
}