.header_one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.header_one > img {
    width: 100%;
    padding: 1%;
    margin: 2%;
}

.header_two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_two > img {
    width: 60%;
    padding: 1%;
    margin: 2%;
}