.meeting__container {
    margin-top: 2%;
    overflow: hidden;
}

.meeting__header {
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.meeting__header > img {
    width: 30%;
}

.meeting__title {
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    text-decoration-style: wavy;
    font-size: 8vh;
    text-align: center;
}