.meeting__container {
    margin-top: 1%;
    overflow: hidden;
}

.meeting__header {
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.meeting__header > img {
    width: 30%;
}

.meeting__title {
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    text-align: center;
    padding: 2%;
}

.meeting__pics_container {
    width: 100%;
    margin-top: 1%;
    text-align: center;
}

.meet_pic_text {
    color: antiquewhite;
    font-weight: bold;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
