/* Encabezado de los miembros */

.members__container {
    margin-top: 6%;
    width: 100%;
    overflow: hidden;
}

.members__header {
    margin: 2%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.members__header > img {
    width: 40%;
}

/* Presentacion de los miembros en general */

.caoticos__container {
    width: 100%;
}

.members__data {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    display: flex;
    padding: 2%;
    text-align: center;
}

/* Separacion de los Rangos */
.members__title {
    margin: 3%;
    color: rgb(119, 6, 6);
    font-family: monospace;
    font-weight: bold;
    font-size: 3.5vh;
    text-decoration: underline;
    justify-content: center;
}

.members__lider {
    width: 100%;
    margin: 0 auto;
}

.members__oficial {
    width: 100%;
    margin: 0 auto;
}

.members__caoticos {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 4rem;
}

/* Data personalizada de Cada miembro */

.players_general_container {
    justify-content: center;
    width: 100%;
    display: flex;
}

.player__container {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 20%;
    min-width: 170px;
    overflow: hidden;
	border-radius: 80px 0px 80px 0px;
	box-shadow: 15px 15px 50px rgba(246, 243, 243, 0.2);
    animation: changing 10s infinite;
}

.player__container:hover {
    animation-play-state: paused;
}

@keyframes changing {
    0% {
        border-radius: 80px 0px 80px 0px;
        box-shadow: 15px 15px 80px rgba(255, 255, 255, 0.2);
    }
    20% { 
        border-radius: 60px 25px 75px 35px;
    }
    40% {
        border-radius: 32px 65px 28px 65px;
        box-shadow: -10px -5px 80px rgba(250, 248, 248, 0.2);
    }
    55% {
        border-radius: 25px 75px 10px 90px;
    }
    70% {
        border-radius: 32px 65px 28px 65px;
        box-shadow: -10px -5px 80px rgba(250, 248, 248, 0.2);
    }
    85% { 
        border-radius: 60px 25px 75px 35px;
    }
    100% {
        border-radius: 80px 0px 80px 0px;
        box-shadow: 15px 15px 80px rgba(255, 255, 255, 0.2);
    }
}

.members__phrases {
    color: rgb(180, 177, 233);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5%;
    font-size: 100%;
}

.player__container > button {
    margin: 0 auto;
    width: 60%;
    justify-content: center;
    display: flex;
}

.player__container > img {
    width: 100%;
}
