/* Encabezado de los miembros */

.members__container {
    margin-top: 6%;
    padding-bottom: 2%;
    width: 100%;
    overflow: hidden;
}

.members__header {
    margin: 2%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.members__header > img {
    width: 40%;
}

/* Presentacion de los miembros en general */

.members__data {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    display: flex;
    padding: 2%;
    text-align: center;
}

.caoticos__container {
    width: 100%;
}

/* Separacion de los Rangos */
.members__title {
    margin: 2%;
    padding-top: 40px;
    color: rgb(119, 6, 6);
    font-family: monospace;
    font-weight: bold;
    font-size: 3.5vh;
    text-decoration: underline;
    justify-content: center;
}

.members__cupula {
    width: 100%;
    margin: 0 auto;
}

.members__caoticos {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

/* Data personalizada de Cada miembro */

.players_general_container {
    width: 100%;
    display: flex;
    padding-top: 2rem;
}
