.navbar__container {
    text-align: center;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__container {
    border-radius: 25px;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.button__container > span {
    position: absolute;
    inset: 5px;
    border-radius: 25px;
    background: black;
    z-index: 1;
}

.button__container::before {
    content: '';
    position: absolute;
    width: 1500px;
    height: 105%;
    background: linear-gradient(rgb(93, 9, 9), rgb(18, 18, 89));
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar__buttons {
    color: whitesmoke;
    margin: 0 6%;
    z-index: 10;
}
